.token-counter-dte{
    position: absolute;
    display: inline-block;
    right: 2em;
    min-width: 0 !important;
    width: auto;
    z-index: 100;
}

.token-counter-dte div{
    display: inline;
}

.token-counter-dte span{
    padding: 0.1em 0.75em;
}

.token-counter-dte span{
    background: var(--input-background-fill) !important;
    box-shadow: 0 0 0.0 0.3em rgba(192,192,192,0.15), inset 0 0 0.6em rgba(192,192,192,0.075);
    border: 2px solid rgba(192,192,192,0.4) !important;
    border-radius: 0.4em;
}